/* ==========================================================================
   Main content
   ========================================================================== */

body{
    background: url(./assets/images/cafe-long.png);
    background-repeat: no-repeat ;
    background-size:cover;
    background-position: center ;
}

main{
    color: var(--text);
    text-align: center;
    margin: 0 20px;
    font-family: 'Exo';
}

#cafe-top div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 16px;
    font-family: 'Exo', sans-serif;
}

#cafe-top div a{
    height:fit-content;
    width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

#cafe-top h1{
    font-size: 24px;
    margin-bottom: 32px;
    margin-top: 16px;
    font-family: 'Exo', sans-serif;
}

#see-more-menu{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#cafe-bottom:nth-child(2){
    font-size: 14px;
}

.main-text{
    font-size: 12px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */


   /* Tablet
   ========================================================================== */
    @media (min-width: 750px){
        #cafe-top div{
            justify-content: space-evenly;
        }



    }
   /* Desktop
   ========================================================================== */
   @media (min-width: 1300px){
    body{
        background-image: url(./assets/images/cafe.png);
        margin-left: 250px;
        margin-right: 250px;
    }
}