#heading-contact-us{
    text-align: center;
}

/* ==========================================================================
    Font styling 
   ========================================================================== */

h1{
    font-family: var(--flashy-heading);
    margin-bottom: 24px;
}

h2{
    font-family: var(--heading);
    margin-bottom: 40px;
}

p{
    font-family: var(--paragraphs);
}

p .mini-header{
    font-size: 14px;
}

/* ==========================================================================
    Font styling 
   ========================================================================== */
*:focus {
    outline: none;
}

#contact-form{
    display: flex;
    flex-direction: column;
    padding: 32px;
}

#contact-form form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: 32px;
    margin-left: 32px;
    text-align: center;
}

.form-content{
    background-color: transparent;
    border: #FFFFFF 1px solid;
    border-radius: 4px;
    font-family: var(--flashy-heading);
    color: #FFFFFF;
    width: 100%;
}

option {
    background-color: var(--primary);
}

#contact-form form input,
#contact-form form select {
  height: 34px;
}


#contact-other{
    padding:32px;
}

#submit-button {
    margin-left: auto;
    margin-right: auto;
}

#contact-other{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

#social-contact-buttons img{
    height: 50px;
    width: 50px;
    margin: 16px;
}

.green-button{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}

#bottom-split{
    display: none;
}

/* ==========================================================================
    Media Queries 
   ========================================================================== */

@media (min-width: 834px){
    main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    #contact-form, #contact-other{
        padding-top: 32px;
        width:50%;
    }

    #bottom-split{
        display: block;
    }

    h1{
        margin-bottom: 40px;
    }

    #social-contact-buttons img{
        height: 60px;
        width: 60px;
    }
}

@media (min-width: 1200px){
    #social-contact-buttons img{
        height: 80px;
        width: 80px;
    }
}