body {
    display: grid;
}

.contents {
    position: absolute;
    top: 60px;
}

.hero-banner {
    position: relative;
    top: 0;
    width: 100%;
    height: 348px;
    display: flex;
    justify-content: center;
}

.pic-1 {
    width: 100%;
    object-fit: cover;
    object-position: 0 -100px;
}

.hero-banner span {
    width: 70%;
    position: absolute;
    top: 170px;
    font-family: var(--heading);
    font-size: 12px;
    text-align: center;
}

.yellow-button {
    position: absolute;
    top: 280px;
}