.contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20px;
    width: 100%;
}

.hero-banner {
    width: 100%;
    height: 348px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}

.overlay-pic-1 {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.pic-1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 -100px;
}

.hero-banner span {
    width: 70%;
    position: absolute;
    top: 170px;
    font-family: var(--heading);
    font-size: 12px;
    text-align: center;
    z-index: 2;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.yellow-button {
    pointer-events: auto;
    position: absolute;
    top: 280px;
    z-index: 3;
}

.matters h1 {
    width: 100%;
    font-family: var(--flashy-heading);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.state-logo {
    height: 50px;
    width: 50px;
}

.state p {
    font-family: var(--heading);
    font-size: 12px;
    padding-top: 10px;
}

.four-states {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

#ticket-checkbox {
    display: none;
}

#ticket-label {
    cursor: pointer;
}

.ticket-price,
.opening-time,
.location {
    display: flex;
    margin: 20px;
}

.img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ticket-price-popup {
    display: none;
}

.popup-container {
    display: none;
}

#ticket-checkbox:checked ~.popup-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.ticket-price-popup {
    display: grid;
    position: absolute;
    background-color: rgba(51, 51, 51, 0.7);
    backdrop-filter: blur(2px);
    height: 300px;
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.2fr 1fr 0.35fr;
    grid-template-areas:
    'close close'
    'list price'
    'button button';
    z-index: 10;
    border-radius: 16px;
    border: solid white 2px;
}

.close {
    grid-area: close;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 20px;
    padding-right: 20px;
    font-size: 30px;
    overflow: hidden;
}

.list {
    font-family: var(--heading);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-left: 40px;
}

.price {
    font-family: var(--heading);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
    margin-right: 40px;
}

.buy-now-btn {
    grid-area: button;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.white-button {
    font-size: 14px;
}

#close-btn {
    display: none;
}

#close-label {
    cursor: pointer;
}

#close-btn:checked ~.popup-container {
    display: none;
}

#time-checkbox {
    display: none;
}

.time-popup-container {
    display: none;
}

#time-checkbox:checked ~.time-popup {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#location-checkbox {
    display: none;
}

.explore-matter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: auto;
}

.matter-states {
    width: 100%;
    object-fit: cover;
}

#explore-matters {
    position: relative;
    z-index: 6;
    top: 154px;
    background-color: #1E1E1E;
}

